main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
}


.form-container, .lista-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #1976d2;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0d47a1;
}

.lista-produto {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.lista-produto img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}
